.button {
    font-family: Calibri, serif;
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}
label{
    text-align: center;
}

body {
    font-family: Calibri, serif;
    background-color: grey;
    margin: 60px;
    text-align: center;
}

.margin {
    line-height: 200%;
    text-align: center;
}


.minibutton {
    font-family: Calibri, serif;
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
}

textarea {
    font-family: Calibri, serif;
    vertical-align: top;
}

.box {
    font-family:  Calibri, serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: darkslateblue;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
}

h1 {
    font-family: Calibri, serif;
    background: slateblue;
    font-size: xx-large;
}