<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juego {{gameId}}</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Nombre: {{game.name}}</h1>
    <h2>Requisitos Minimos: </h2>
    <p>Ram: {{game.ramMin}}</p>
    <p>Grafica: {{game.graphicCardMin}}</p>
    <p>Procesador: {{game.cpuMin}}</p>

    <h2>Requisitos Recomendados: </h2>
    <p>Ram: {{game.ramMax}}</p>
    <p>Grafica: {{game.graphicCardMax}}</p>
    <p>Procesador: {{game.cpuMax}}</p>

    <form method="get" action="/games/deleteGame/{{game.gameId}}">
        <input name="gameId" type="hidden" value="{{game.gameId}}">
        <input class="minibutton" type="submit" value="Delete">
    </form>

    <form method="get" action="/games/{{gameId}}/updatedGame">
        <input name="gameId" type="hidden" value="{{game.gameId}}">
        <input class="minibutton" type="submit" value="Update">
    </form>
    <br>
    <a class="button" href="../">Inicio</a>

</body>
</html>