<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juego {id}</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
    <h1>Nombre: {{nombre}}</h1>
    <h2>Requisitos Minimos: </h2>
    <h3>Ram: {{ramMin}}</h3>
    <h3>Grafica: {{graphicCardMin}}</h3>
    <h3>Procesador: {{cpuMin}}</h3>

    <h2>Requisitos Recomendados: </h2>
    <h3>Ram: {{ramMax}}</h3>
    <h3>Grafica: {{graphicCardMax}}</h3>
    <h3>Procesador: {{cpuMax}}</h3>
</body>
</html>