<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Juego</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<script>
    $("#updateForm").submit(function(event) {
        event.preventDefault();
        ajaxPut();
    });

    function ajaxPut() {


        var formData = {
            gameId : $("#gameId").val(),
            name : $("#name").val(),
            ramMin : $("#ramMin").val(),
            graphicCardMin: $("#graphicCardMin").val(),
            cpuMin: $("#cpuMin").val(),
            ramMax : $("#raMax").val(),
            graphicCardMax: $("#graphicCardMax").val(),
            cpuMax: $("#cpuMax").val()
        }

        $.ajax({
            type : "PUT",
            contentType : "application/json",
            url : "games/updateGame",
            data : JSON.stringify(formData),
            dataType : 'json',
            success : function(result) {
                console.log(result);
            },
            error : function(e) {
                alert("Error!")
                console.log("ERROR: ", e);
            }
        });

    }

</script>

<body>
<form id="updateForm">
    <label>Nombre: </label>
    <label>
        <input name='name' type='text'>
    </label>
    <br>
    <br>
    <br>
    <br>
    <label>REQUISITOS MINIMOS: </label>
    <br>
    <br>
    <label>Ram: </label>
    <label>
        <select name="ramMin">
            <option>4</option>
            <option>8</option>
            <option>12</option>
            <option>16</option>
            <option>32</option>
        </select>
    </label>
    <br>
    <br>
    <label>Procesador: </label>
    <br>
    <br>
    <label>
        <input name='cpuMin' type='text'>
    </label>
    <br>
    <br>
    <label>Grafica: </label>
    <br>
    <br>

    <label>
        <input name='graphicCardMin' type='text'>
    </label>
    <br>
    <br>
    <br>
    <br>



    <label>REQUISITOS RECOMENDADOS: </label>
    <br>
    <br>
    <label>Ram: </label>
    <label>
        <select name="ramMax">
            <option>4</option>
            <option>8</option>
            <option>12</option>
            <option>16</option>
            <option>32</option>
        </select>
    </label>
    <br>
    <br>
    <label>Procesador: </label>
    <br>
    <br>
    <label>
        <input name='cpuMax' type='text'>
    </label>
    <br>
    <br>
    <label>Grafica: </label>
    <br>
    <br>

    <label>
        <input name='graphicCardMax' type='text'>
    </label>
    <br>
    <br>



    <input class="button" type="submit" value="SUBMIT">
    <br>
    <br>

</form>
<a class="button" href="../../">Inicio</a>
</body>
</html>