<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Juego</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
<h1 class="box" style="text-align: center">ACTUALIZAR JUEGO</h1>

<form action="/updateGame">
    <label>Nombre: </label>
    <label>
        <input name='name' type='text'>
    </label>
    <br>
    <br>
    <br>
    <br>
    <label>REQUISITOS MINIMOS: </label>
    <br>
    <br>
    <label>Ram: </label>
    <label>
        <select name="ram">
            <option>4</option>
            <option>8</option>
            <option>12</option>
            <option>16</option>
            <option>32</option>
        </select>
    </label>
    <br>
    <br>
    <label>Procesador: </label>
    <br>
    <br>
    <label>
        <input name='name' type='text'>
    </label>
    <br>
    <br>
    <label>Grafica: </label>
    <br>
    <br>

    <label>
        <input name='name' type='text'>
    </label>
    <br>
    <br>
    <br>
    <br>



    <label>REQUISITOS RECOMENDADOS: </label>
    <br>
    <br>
    <label>Ram: </label>
    <label>
        <select name="ram">
            <option>4</option>
            <option>8</option>
            <option>12</option>
            <option>16</option>
            <option>32</option>
        </select>
    </label>
    <br>
    <br>
    <label>Procesador: </label>
    <br>
    <br>
    <label>
        <input name='name' type='text'>
    </label>
    <br>
    <br>
    <label>Grafica: </label>
    <br>
    <br>

    <label>
        <input name='name' type='text'>
    </label>
    <br>
    <br>



    <input class="button" type="submit" value="SUBMIT">
    <br>
    <br>
    <a class="button" href="index.html">Inicio</a>
</form>
</body>
</html>